.main-title {
  text-align: center;
  text-transform: uppercase;
}

.card-header {
  align-self: center;
}

.card-title {
  font-size: 25px;
}

.upload-text {
  text-align: center;
  text-transform: lowercase;
  font-size: 20px;
  color: gray;
}

.row {
  flex-direction: row;
  justify-content: center;
}

.form-layout {
  display: grid;
  grid: 100% / 50% / 50%;
  row-gap: 50px;
  column-gap: 30px;
  column-gap: 30px;
}

.form-layout h3 {
  grid-area: 1 / 1 / span 1 / span 2;
}

.form-layout input {
  grid-area: 2 / 1;
  width: 50%;
  margin: 0 auto;
}

.form-layout button {
  grid-area: 2 / 2;
}

.form-layout button {
  grid-area: 2 / 2;
}

.navbar {
  padding: 0.5rem 2.5rem;
  height: 70px;
}

.logo-img {
  height: 40px;
}

.card {
  height: 80vh;
  max-height: 600px;
}

.wrapper .content-wrapper {
  min-height: calc(100vh - 70px) !important;
}

#wait-message {
  width: 100%;
  margin: 50px;
  height: auto;
  text-align: center;
  color: gray;
  display: none;
}

@media (min-width: 768px) {
  body:not(.sidebar-mini-md) .content-wrapper,
  body:not(.sidebar-mini-md) .main-footer,
  body:not(.sidebar-mini-md) .main-header {
    margin-left: 0 !important;
  }
}
